@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');
.container{
  display:flex;
  justify-content:space-evenly;
  flex-wrap: wrap;

}
.portfolio-title{
  font-size:30px;
    text-align: center;
    padding:20px 0px 15px 20px;
    color:#4b86c2;
    font-family: 'Akaya Telivigala', cursive;
}
.portfolio-content{
  padding:10px;
}
.portfolio-element{
  width:450px;
  height: 400px;
  padding:10px;
  cursor: pointer;

}
.portfolio-img{
  object-fit: contain;
  width: 100%;
  border-radius:10px;
  margin-top:5px;
  box-shadow: 1px 4px 13px 0.7px #0b2c44;
  transition: all 0.3s ease-out;
  cursor:pointer;
}
.portfolio-img:hover{
  transform: scale(1.1);
  box-shadow: 1px 4px 13px 1.7px #5c9ece;
  padding:2px;
}
.title{
  text-align:center;
  font-family: 'Akaya Telivigala', cursive;
  padding:15px;
  font-size:18px;
  color:#09498a;
}
.modal{
  position:fixed;
  opacity:0;
  top:0;
  left:0;
  right:0;
  bottom:0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.692);
  pointer-events:none;

}
.modal.active{
  opacity:1;
  pointer-events: all;
  z-index: 20;

}
.full-img{
  position:absolute;
  height:auto;
  border-radius:20px;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%) scale(0.5);
  transition: all 0.25s ease-out;
}
.full-img.open{
  transform:translate(-50%, -50%) scale(1);
}
.caption {
  color:white;
  font-size: 2rem;
  position:absolute;
  width: 100%;
  text-align:center;
  bottom:5%;

  font-family: 'Akaya Telivigala', cursive;
}

@media (max-width: 1000px){
.container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


}

@media  (max-width:570px){
  .caption{
    left:0%;
  }
  .portfolio-content{
    padding:0px;
  }
  .portfolio-element{
    width:350px;
    height: 350px;
  }
  .full-img{
    height:80%;
  }
}
@media (max-width:450px){
  .portfolio-element{
    width:320px;
  }
  .full-img{
    height:69%;
  }
  .caption{
    left:0%;
    font-size:1.9rem;
  }
}
@media (max-width: 375px){
  .full-img{
    height:63%;
  }
}
@media (max-width: 280px){
  .portfolio-element{
    width:280px;
  }
  .full-img{
    height:59%;
  }
  .caption{
    font-size:1.7rem;
  }
}
