
<div class="container">
  <h2 class="portfolio-title">My Projects
    <div class="line"></div>
  </h2>
<div class="portfolio-content" >
    <article class="portfolio-element" *ngFor="let item of portfolio$">
      <div class="project-img-container">
         <img class="project-img" src="{{ item.img }}">
         <a href={{item.link}} target="_blank" class="project-link" *ngIf="item.link"><i class="fas fa-external-link-alt"></i></a>
      </div>
      <div class="info-container">
        <h4 class="info-title">
          {{item.name}}
        </h4>
         <ul class="technologies" >
            <li  *ngFor="let technology of item.technologies" class="tech-item">
              {{technology.name}}
            </li>
         </ul>

      </div>

    </article>

</div>
</div>
