@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap');

.portfolio-title {
  font-size: 30px;
  text-align: center;
  padding: 20px 0px 15px 20px;
  color: #4b86c2;
  font-family: 'Akaya Telivigala', cursive;
  text-shadow: 1px 1px whitesmoke;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  .portfolio-content {
    padding: 10px;

    .portfolio-element {
      width: 450px;
      height: 400px;
      padding: 10px;
      cursor: pointer;

      .title {
        text-align: center;
        font-family: 'Akaya Telivigala', cursive;
        padding: 15px;
        font-size: 18px;
        color: #09498a;
      }

      .portfolio-img {
        object-fit: contain;
        width: 100%;
        border-radius: 10px;
        margin-top: 5px;
        box-shadow: 1px 4px 13px 0.7px #0b2c44;
        transition: all 0.3s ease-out;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
          box-shadow: 1px 4px 13px 1.7px #5c9ece;
          padding: 2px;
        }
      }
    }

    .modal {
      position: fixed;
      display:flex;
      justify-content:center;
      flex-direction:column;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: 200ms ease-in-out;
      background-color: rgb(0 0 0 / 91%);
      pointer-events: none;
      .closeModal{
        position:absolute;
        top:6%;
        right:6%;
        font-size:35px;
        color:white;
        cursor: pointer;
        width:25px;
        height:25px;
        z-index:10;
        transition:color .2s ease-in-out;
      &:hover{
        color:#4b86c2;
      }
      }

      .content-modal{
        display:flex;
        align-items: center;
        width: 100%;
        height: 450px;
        margin:0 10px;
        justify-content:center;
        .description{
          width:100%;
         text-align: center;
          color:whitesmoke;
          font-size:24px;
          padding:10px;
          font-family:"Akaya Telivigala",sans-serif;
        }

        .image-modal{

          height: 80%;
          width:100%;
          border-radius: 20px;


          transition: all 0.25s ease-out;
          .full-img {
            object-fit: contain;
            width: 100%;
            height: 100%;
            &.open {
              transform: translate(-50%, -50%) scale(1);
            }
          }

        }
      }
      .technologies{
        font-size:22px;
        color:white;
        width:100%;
        text-align: center;
        font-family: "Akaya Telivigala",sans-serif;
        margin-bottom:20px;
      }
      &.active {
        opacity: 1;
        pointer-events: all;
        z-index: 20;
      }


      .caption {
        color: white;
        font-size: 2rem;
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 88%;
        font-family: 'Akaya Telivigala', cursive;
      }
      .redirect{
        color:white;
        position:absolute;
        bottom:3%;
        text-align: center;
        align-self:center;
        text-decoration: none;
        color:whitesmoke;
        border:2px solid whitesmoke;
        padding:5px;
        font-size: 1.1rem;
        border-radius:10px;
        transition: 0.2s ease-in;
        &:hover{
            color:#4b86c2;
            border:2px solid #4b86c2;
        }
      }
    }

  }

  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

@media(max-width:769px){

    .portfolio-content{
      .modal{
        .content-modal{
          .description{
            font-size:18px;
          }
        }
        .closeModal{
          font-size:30px;
        }
      }
    }


}

  @media (max-width:570px) {
    .portfolio-content {
      padding: 0px;

      .portfolio-element {
        width: 350px;
        height: 350px;
      }

      .modal {
        .closeModal{
          font-size:25px;
        }
        .caption {
          left: 0%;
        }

        .full-img {
          height: 80%;
        }
      }
    }
  }

  @media (max-width:450px) {
    .portfolio-content {
      .portfolio-element {
        width: 320px;
      }

      .modal {
        width:100%;
        height:100%;
        margin:0;
        .content-modal{
          margin:0;
          .description{
            display:none;
          }
          .image-modal{
            width: 90%;
            height:49%;
            transform:none;
            .full-img {
              height: 98%;
            }
          }
        }
        .technologies{
          width:100%;
          text-align: center;
          left:0;
          margin:0 auto;
        }



        .caption {
          left: 0%;
          font-size: 1.7rem;
        }
      }
    }


  }

  @media (max-width: 375px) {
    .portfolio-content {
      .modal {
        width:100%;
        height:100%;
        .description{
          display:none;
        }
        .technologies{
          width:100%;
          text-align: center;
          left:0;
          margin:0 auto;
          font-size:19px;
        }
        .image-modal{
          width: 90%;
          left: 5%;
          top: 24%;
          height:49%;
          transform:none;
          .full-img {
            height: 60%;
          }
        }
      }
    }
  }


  @media (max-width: 280px) {
    .portfolio-content {
      .portfolio-element {
        width: 280px;
      }

      .modal {
        .full-img {
          height: 59%;
        }

        .caption {
          font-size: 1.7rem;
        }
      }
    }


  }

}
