<h2 class="portfolio-title">My Portfolio</h2>
<div class="container">
<div class="portfolio-content" #portfolio *ngFor="let item of portfolio$">
    <div class="portfolio-element"  (click)="openModal(); onSelect(item)">
      <h4 class="title">{{ item.name }}</h4>
      <img class="portfolio-img" src="{{ item.img }}">

    </div>
    <div class="modal" #modal *ngIf="selectedItem">
      <div class="content-modal">
        <div class="image-modal">
          <img src="{{ selectedItem.img }}" alt="" class="full-img" >
        </div>
        <div class="description">
          <p>
            {{selectedItem.description}}
          </p>
        </div>
      </div>
      <div class="technologies">
        <h3>Technologies:</h3> <span>{{selectedItem.technologies}}</span>
      </div>
      <div class="closeModal"  (click)="closeModal()">
        <i class="fas fa-times-circle"></i>
      </div>
      <p class="caption"> {{selectedItem.name}} </p>
      <a *ngIf="selectedItem.link" href={{selectedItem.link}} class="redirect" target="_blank"> View application</a>
    </div>
</div>
</div>
