<div class="container">
  <h2 class="title">About me</h2>
  <div class="content-container">

     <div class="about-section">

       <p>I'm Tudor and I'm a Junior Web Developer.</p>
        <p> I'm very passionate about creating and developing web applications and interfaces.</p>
      <p>I chose this path because I think it's a vast branch where you always have to discover and learn new things.</p>

      <div class="divider"></div>
      <h4 class="title">My Hobbies</h4>
      <ul class="hobbies">
        <li class="hobbyEl"><i class="fas fa-guitar"></i> I play guitar</li>
        <li class="hobbyEl"><i class="fas fa-futbol"></i> I like to play football</li>
        <li class="hobbyEl"><i class="fas fa-gamepad"></i> Video games</li>
      </ul>
      <h4 class="title">My education</h4>
      <table>
        <tr>
          <th>Year</th>
          <th>Institution</th>
          <th>Diploma</th>
        </tr>
        <tr>
          <td>2020-2021</td>
          <td>"Scoala Informala de IT"</td>
          <td>Frontend - JavaScript Web Developer</td>

        </tr>
        <tr>
          <td>2016-2017</td>
          <td>"Profit Point"</td>
          <td>Advanced course in trading + Masterclasses</td>
        </tr>
        <tr>
          <td>2012-2016</td>
          <td>Colegiul National "Stefan cel Mare" Targu Neamt</td>
          <td>Baccalaureate</td>
        </tr>
      </table>
     </div>
     <div class="image-section">
       <img [src]="aboutImage" alt="">
     </div>
  </div>
  <h2 class="title">My Services</h2>
  <div class="services-section">

    <div class="service service-1" >
      <span class="service-icon"> <i class="fas fa-code"></i></span>
       <h5 class="service-name">Frontend developer</h5>
       <p class="textService">I think my skills can prove you the needed features for this domain.</p>
     </div>
     <div class="service service-2" >
       <span class="service-icon"> <i class="fas fa-paint-brush"></i></span>
       <h5 class="service-name">UI/UX</h5>
       <p class="textService">I can give you a nice web experience.</p>
     </div>
     <div class="service service-3" >
       <span class="service-icon"> <i class="fas fa-pen"></i></span>
       <h5 class="service-name">Content Writing</h5>
       <p class="textService">Good first impressions....are good for business.</p>
     </div>
  </div>


</div>
