@import url('https://fonts.googleapis.com/css2?family=Inter&family=Original+Surfer&display=swap');

.container {
  width: 100%;
  margin: auto;
  display: flex;
  padding-top: 150px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 39px;
  margin-bottom: 20px;

  .random-circle {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #10529467;
    position: absolute;
    z-index: -1;
    top: 7%;
    left: 28%;
    animation: random-circle 2s linear;
  }

  .random-circle-two {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #002df3a4;
    position: absolute;
    z-index: -1;
    top: 52%;
    left: 68%;
    animation: random-circle-two 1s ease-in;
  }

  .name-side {
    width: 480px;
    background-color: #37405f1f;
    border: 1px solid lightgray;
    height: 480px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px 0px rgba(15, 88, 172, 0.774);
    position: relative;
    transition: all 2s ease-in-out;
    animation: opacity 1s ease-in;

    &:before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      box-shadow: 1px 2px 9px 6px rgba(15, 88, 172, 0.774);
      border: 3px solid transparent;
      border-radius: 50%;
      animation: animateCircle 2s linear infinite;
    }

    .small-circle {
      width: 100px;
      height: 100px;
      position: absolute;
      z-index: 1;
      top: -10px;
      left: 50px;
      border-radius: 50%;
      background-color: rgba(10, 66, 85, 0.418);
      animation: moveSmall-Circle 2s alternate ease-in-out;

    }

    .medium-circle {
      width: 200px;
      height: 200px;
      position: absolute;
      z-index: -2;
      top: 300px;
      left: 360px;
      border-radius: 50%;
      background-color: rgba(32, 17, 168, 0.822);
      animation: medium-circle-move 2s alternate ease;
    }

    .text {
      text-align: center;
      font-size: 24px;
      color: #4b86c2;
      padding: 10px;
      font-family: 'Inter', sans-serif;

      .job {
        color: #105294;
        font-family: 'Inter', sans-serif;
      }
    }

    .fullName {
      font-size: 33px;
      font-family: 'Original Surfer', cursive;
    }
  }

  .img-side {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 40px;

    .image {
      object-fit: contain;
      width: 100%;
      border-radius: 30px;
      transition: all 0.2s ease-out;
      filter: drop-shadow(2px 4px 8px #585858);
      cursor: none;
      animation: opacity 1s ease-in;

      &:hover {
        transform: scale(1.1);
      }
    }

    .big-circle {
      width: 500px;
      height: 500px;
      position: absolute;
      z-index: -1;
      top: -100px;
      left: -70px;
      border-radius: 50%;
      background-color: rgba(11, 155, 143, 0.479);
      animation: big-circle 2s ease-in-out;
    }
  }

  @media (max-width: 1000px) {
    flex-direction: column;
    padding-top: 50px;

    .random-circle {
      display: none;
    }

    .random-circle-two {
      display: none;
    }

    .name-side {
      width: 350px;
      height: 350px;

      &:before {
        display: none;
      }

      .medium-circle {
        top: 329px;
        left: 200px;
        z-index: -1;
      }

    }

    .img-side {
      width: 370px;
      height: 380px;

      .big-circle {
        height: 400px;
        width: 400px;
        top: -90px;
      }
    }
  }

  @media (max-width:414px) {
    .name-side {
      .medium-circle {
        display: none;
      }
    }

    .random-circle {
      display: none;
    }

    .random-circle-two {
      display: none;
    }
  }

  @media (max-width:360px) {
    .name-side {
      width: 276px;
      height: 350px;

      .small-circle {
        top: -35px;
      }
    }

    .img-side {
      width: 280px;
      height: 326px;

      .big-circle {
        height: 300px;
        width: 270px;
        top: -70px;
        left: 1px;
      }
    }

    .random-circle {
      display: none;
    }

    .random-circle-two {
      display: none;
    }
  }

  @media (max-width:1145px) {
    .random-circle-two {
      left: 65%;
    }
  }

  @media (min-height:1366px) {
    height: 100vh;
    flex-direction: column;

    .name-side {
      .text {
        font-size: 30px;
      }
    }

    .img-side {
      .big-circle {
        top: -147px;
        left: -180px;

      }
    }

    .random-circle {
      left: 53%;
    }
  }
}

@keyframes random-circle {
  0% {
    transform: translateY(-100px);
    opacity: 0.1
  }

  50% {
    transform: translateY(-50px)
  }

  100% {
    transform: translateY(0px)
  }
}

@keyframes random-circle-two {
  from {
    transform: translateY(50px);
    opacity: 0.1
  }

  to {
    transform: translateY(0px)
  }
}



@keyframes moveSmall-Circle {
  from {
    transform: translate(-150px);
    opacity: 0.1;
  }

  to {
    transform: translate(0px)
  }
}


@keyframes medium-circle-move {
  from {
    transform: translateY(160px);
    opacity: 0.1
  }

  to {
    transform: translateY(0px)
  }
}

@keyframes opacity {
  0% {
    opacity: 0.3
  }

  25% {
    opacity: 0.5
  }

  50% {
    opacity: 0.7
  }

  75% {
    opacity: 0.9
  }

  100% {
    opacity: 1
  }
}


@keyframes big-circle {
  from {
    transform: translateY(-150px);
    opacity: 0.1
  }

  to {
    transform: translateY(0px)
  }
}

@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
