<div class="container">

<div class="random-circle-two"></div>
  <div class="name-side" id="name-side">
    <div class="circles">
      <div class="random-circle"></div>
      <div class="small-circle"></div>
      <div class="medium-circle"></div>
    </div>

    <p class="text">Hello! My name is  </p>
    <p class="text fullName">Tudor Anastasiu</p>
    <p class="text">and I'm a <span class="job">Junior Web Developer</span>.</p>
  </div>
  <div class="img-side">
    <div class="big-circle"></div>
    <div class="img-container"><img [src]="myImage" alt="Portrait" class="image"></div>
  </div>
</div>
