@import url('https://fonts.googleapis.com/css2?family=Inter&family=Original+Surfer&display=swap');

.container {
  width: 100%;
  margin: auto;

  display: flex;
  padding-top: 150px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 39px;
  margin-bottom: 120px;

.frame{
  width: 93%;
  height: 82%;
  position: absolute;
  margin: 0 auto;
  border: 4px solid rgba(15, 88, 172, 0.774);
  opacity:0.6;
  top: 101px;
  left: 48px;
  border-radius:10px;
  z-index:-100;
  filter:drop-shadow(1px 1px 8px #000);
}

  .random-circle-two {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: #002df3a4;
    position: absolute;
    z-index: -1;
    top: 52%;
    left: 68%;
    animation: random-circle-two 4s ease-in-out;
  }

  @keyframes random-circle-two {
   from{
      transform: translateY(130px);
      opacity:0.1;
   }
   to{
    transform: translateY(0px);
   }
  }

  .name-side {
    width: 480px;
    background-color: #37405f1f;
    height: 480px;
    border-radius: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 6px 0px rgba(15, 88, 172, 0.774);
    position: relative;
    transition: all 2s ease-in-out;
    animation: opacity 1s ease-in;

    &:before {
      content: "";
      position: absolute;
      top: -3px;
      left: -3px;
      width: 100%;
      height: 100%;
      box-shadow: 1px 2px 9px 6px rgba(15, 88, 172, 0.774);
      border: 3px solid transparent;
      border-radius: 50%;
      animation: animateCircle 2s linear infinite;
    }

    .circles {
      position: absolute;
      width: 480px;
      height: 480px;
      z-index: -8;

      border-radius: 50%;
      animation: rotateCircles 25s infinite linear;

      @keyframes rotateCircles {
        0% {
          transform: rotate(-360deg);
        }
      }

      .random-circle {
        width: 350px;
        height: 350px;
        border-radius: 50%;
        background-color: #10529467;
        position: absolute;
        z-index: -1;
        top: -29%;
        left: 58%;
        animation: random-circle 2s linear;
      }

      .small-circle {
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 1;
        top: 110px;
        left: -51px;
        border-radius: 50%;
        background-color: rgba(10, 66, 85, 0.418);
        animation: moveSmall-Circle 2s alternate ease-in-out;

      }

      .medium-circle {
        width: 200px;
        height: 200px;
        position: absolute;
        z-index: -2;
        top: 410px;
        left: 210px;
        border-radius: 50%;
        background-color: rgba(32, 17, 168, 0.418);
        animation: medium-circle-move 2s alternate ease;
      }
    }


    .text {
      text-align: center;
      font-size: 24px;
      // color: #1c65ad;
      color:rgb(102, 102, 102);
      padding: 10px;
      font-family: 'Inter', sans-serif;

      .job {
        font-weight: bold;
        color: rgb(102, 102, 102);
        font-family: 'Inter', sans-serif;
      }
    }

    .fullName {
      font-size: 33px;
      font-family: 'Original Surfer', cursive;
    }
  }

  .img-side {
    position: relative;
    width: 500px;
    height: 500px;
    margin: auto;
    padding: 40px;

    .img-container{
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 30px;
      .image {
        object-fit: contain;
        width: 100%;
        border-radius: 30px;
        transition: all 0.2s ease-out;
        filter: drop-shadow(2px 4px 8px #585858);
        animation: opacity 1s ease-in;

        &:hover {
          transform: scale(1.1);
        }
      }

    }
    .big-circle {
      width: 500px;
      height: 500px;
      position: absolute;
      z-index: -6;
      top: -100px;
      left: -70px;
      border-radius: 50%;
      background-color: rgba(11, 155, 143, 0.479);
      animation: big-circle 5s ease-in-out;

    }

    @keyframes big-circle {

      from{
        transform: translateY(-130px);
        opacity:0.1;
     }
     to{
      transform: translateY(0px);
     }
    }
  }

  @media (max-width: 1000px) {

    flex-direction: column;
    padding-top: 50px;
    margin-bottom:20px;
    .frame{
      width: 93%;
      height: 74%;
      top: 89px;
      left: 27px;
    }

    .random-circle {
      display: none;
    }

    .random-circle-two {
      display: none;
    }

    .name-side {
      width: 350px;
      height: 350px;
      margin-left:none;
      &:before {
        display: none;
      }
      .text{
        color: #1c65ad;
        .job{
          color: #1c65ad;

        }
      }
      .circles {
        animation: none;
        width: 100%;
        height: 100%;

        .small-circle {
          top: -5px;
          left: -14px;
        }

        .medium-circle {
          top: 329px;
          left: 200px;
          z-index: -1;
        }
      }


    }

    .img-side {
      width: 370px;
      height: 380px;

      .big-circle {
        height: 400px;
        width: 400px;
        top: -90px;
        animation: big-circle-mobile 2s ease-in-out;
      }

      @keyframes big-circle-mobile {
        from {
          transform: translateY(-150px);
          opacity: 0.1
        }

        to {
          transform: translateY(0px)
        }
      }
    }
  }
@media (max-width:480px){
.frame{
  display:none;
}
}
  @media (max-width:414px) {


      .name-side {
        .medium-circle {
          display: none;
        }
      }

      .random-circle {
        display: none;
      }

      .random-circle-two {
        display: none;
      }


  }

  @media (max-width:360px) {
    .name-side {
      width: 276px;
      height: 350px;

      .small-circle {
        top: -35px;
      }
    }

    .img-side {
      width: 280px;
      height: 326px;

      .big-circle {
        height: 300px;
        width: 270px;
        top: -70px;
        left: 1px;
      }
    }

    .random-circle {
      display: none;
    }

    .random-circle-two {
      display: none;
    }
  }
@media(max-width:1240px){
  .frame{
    height:100%;
    width:94%;
    left:32px;
  }
}
  @media (max-width:1145px) {


    .frame{
      left:3px;
      width: 98%;
    }

    .random-circle-two {
      left: 65%;
      animation: random-circle-two-tablet 3s ease-in;
    }

  }

  @keyframes random-circle-two-tablet {
    from {
      transform: translateY(490px);
    }

    to {
      transform: translateY(0px);
    }
  }

  @media (min-height:1366px) {

    flex-direction: column;
    .container{
      overflow:hidden;

    }
    .frame{
     height:90%;
    }
    .name-side {
      .text {
        font-size: 30px;
      }
    }

    .img-side {
      .big-circle {
        top: -147px;
        left: -180px;
        animation: big-circle-tablet 2s ease-in;
      }

      @keyframes big-circle-tablet {
        from {
          transform: translateY(490px);
        }

        to {
          transform: translateY(0px);
        }
      }
    }

    .random-circle {
      left: 53%;
    }
  }
}
@media(height:600px){
  .frame{
    height: 104% !important;
  }
}
@media (width: 768px){
 .frame{
  height:77% !important;
  left:6px !important;
 }
}
@media(min-width:1300px){
  .frame{
    height: 100% !important;
  }
}
@media(height:488px){
  .frame{
    height: 145% !important;
  }
}

@keyframes random-circle {
  0% {
    transform: translateY(-100px);
    opacity: 0.1
  }

  50% {
    transform: translateY(-50px)
  }

  100% {
    transform: translateY(0px)
  }
}




@keyframes moveSmall-Circle {
  from {
    transform: translate(-150px);
    opacity: 0.1;
  }

  to {
    transform: translate(0px)
  }
}


@keyframes medium-circle-move {
  from {
    transform: translateY(160px);
    opacity: 0.1
  }

  to {
    transform: translateY(0px)
  }
}

@keyframes opacity {
  0% {
    opacity: 0.3
  }

  25% {
    opacity: 0.5
  }

  50% {
    opacity: 0.7
  }

  75% {
    opacity: 0.9
  }

  100% {
    opacity: 1
  }
}


@keyframes animateCircle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
